---
import MainLayout from '../../layouts/MainLayout.astro'

const searchUrl =
  'https://api.artic.edu/api/v1/artworks/search?q=dog&limit=9&page=3&fields=id,title,image_id,color'
const res = await fetch(searchUrl)
const artworksData = await res.json()
const iiifBase = artworksData.config?.iiif_url ?? 'https://www.artic.edu/iiif/2'

---

<MainLayout title="Dog art" description="Dog art">
  <section class="artworks">
		{ artworksData.data && (	
			artworksData.data.map((artwork) => (
				<div class="artwork" style={`--color-accent: hsl(${artwork.color.h}, ${artwork.color.s}%, ${artwork.color.l}%)`}>
					<div class="artwork-image">
					<img
						src={`${iiifBase}/${artwork.image_id}/full/843,/0/default.jpg`}
						alt={artwork.title}
							width="843"
							loading="lazy"
						/>
					</div>
					<div class="artwork-title">
						<h2 class="medium-heading">{artwork.title}</h2>
						<a href={`/${artwork.id}`}>
							View artwork
						</a>
					</div>
				</div>
			))
		)}
	</section>
</MainLayout>

<style>
	.artworks {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		gap: var(--gap);
		padding: var(--padding-block) var(--padding-inline);
		@media (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.artwork {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--gap);
		.artwork-image {
			width: 100%;
			height: auto;
			position: relative;
			border: var(--padding-inline) solid var(--color-accent);
			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
		.artwork-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--gap);
			text-align: center;
			a {
				display: inline-block;
				background-color: var(--color-text);
				color: var(--color-background);
				padding: 0.5em 1em;
				border-radius: 1em;
				text-decoration: none;

			}
		}
	}
</style>
